
.bar{
    margin-top: 20px;
    background-color: rgba(209, 94, 94, 0.74);
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to right,#ddd6f3,#faaca8);
}
ul{  
     display: flex;
     list-style-type: none;
     justify-content: center;
     padding: 2px;
 }
 li{
     display: flex;
     flex-direction: column;
     padding-right: 30px;
     padding-left: 30px;
     text-align: center;
     
 }
 a{
     text-decoration: none;
     color: black;
 }
img{
    
    height: 80px;
    width: 80px;
    border-radius: 30px;
}