/* @import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap'); */

.beforefootor{
    background-color: rgb(252, 252, 252);
    display: flex;
   
   
}

.info{
    color: rgba(255, 255, 255, 0.849);
    width: 33.333%;
    text-align: center;
    background-color: thistle;
    
    
}
.infopart

.infopart h1 ,h2{
    color:#ea4c89;
    font-size: 15px;
    
}
.tag{
    color:#ea4c89;
}
.value{
 color: white;
}

