@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.beforefootor{
    background-color: rgb(252, 252, 252);
    display: flex;
    margin-top: 2rem;;

}

.info{
    color: rgba(255, 255, 255, 0.849);
    width: 33.333%;
    padding: 5px;
    text-align: center;
    
    background-color: black;
}
.infopart{
    padding: 5px;
}
.infopart h1{
    color:#ea4c89;
    
}

