@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.contact{
    
    padding: 30px;
}
form {
    /* border: 2px solid coral; */
    width: 50%;
    margin: auto;
    display: flex;
   
    flex-direction: column;
    padding: 30px;
    background:  #eaeaea;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    border-color: #d0d0d0;
    color: #000;
}

form label {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 20px;
    padding: 10px 10px;
    border: 1px solid grey;
    border-radius: 2px;
    background: #fff;
    color: #000;
}

form textarea {
    margin-bottom: 30px;
    background: #fff;
}


form button {
    padding: 20px 10px;
    font-size: 20px;
    margin-bottom: 5px;
    background-color:rgb(10, 82, 128);
    color: #fff;
    cursor: pointer;
    border-radius: 1rem;
}
form button:hover{
    color: black;
    background-color: white;
}

