.cardContainer {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right,#e0eafc,#cfdef3);
    margin: auto;
    /* perspective: 1000px; */
    padding: 20px 100px;
    
}

.singleContainer {
    margin-top: 40px; 
    display: flex;
    flex-direction: column;

    /* align-items: center;
    justify-content: center; */
    margin: 20px;
    width: 400px;

}

.card {
    /* transform-style: preserve-3d; */
    background-color: rgba(255, 255, 255, 0.938);
    padding: 2rem 4rem;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.imga {
    width: 300px;
    height: 200px;
    z-index: 23;
    transition: all 0.75 ease-in-out;
}

.sneaker {
    margin-bottom: 30px;
    position: relative;
}

.description h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.75 ease-in-out;
}

.description h3 {
    margin-bottom: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.75 ease-in-out;
}

