@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.cardContainer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right,#bdc3c7,#bdc3c7);
    margin: auto;
    /* perspective: 1000px; */
    padding: 20px 100px;
    
}

.singleContainer {
    margin-top: 40px; 
    display: flex;
    flex-direction: column;

    /* align-items: center;
    justify-content: center; */
    margin: 20px;
    

}

.card {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 40px;
    /* transform-style: preserve-3d; */
    background-color: rgba(255, 255, 255, 0.938);
    
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.coffeeimg{
    width: 500px;
}

.imga {
    width: 600px;
    height: 400px;
    z-index: 23;
    transition: all 0.75 ease-in-out;
}

.sneaker {
    padding: 0%;
    margin-bottom: 30px;
    /* position: relative; */
}

.description h2 {
    
    padding-right: 60px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.75 ease-in-out;
}

.description h3 {
    padding: 2rem 4rem;
    text-align: right;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    transition: all 0.75 ease-in-out;
}

