@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.footor{
    font-size: 20px;
    margin-top: 5rem;
    text-align: center;
    color: white;
    height: 8rem;
    background-color: black;
    font-Family: 'Style Script'
  }