@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.footor{
    padding: 5px;
    margin-top: 2px;
    text-align: center;
    color: white;
    background-color: black;
    font-Family: 'Style Script';
    font-size: 3px;
    

  }