
.nav{
    background-color: brown;
    height: 50px;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;  
    align-items: center;
   float: left;
  }
  li{
      padding: 8px;
     
  }
  a{
    text-decoration: none;
  }