*{
    margin: 0%;
   
}
div{
    background-color: brown;
    display: flex;
    justify-content: center;
}
 ul{
     background-color: cornflowerblue;
     display: flex;
     list-style-type: none;
     justify-content: center;
     padding: 10px;
 }
 li{
     padding: 5px;
 }
 a{
     text-decoration: none;
 }
