
.nav{
    display: flex;
    background-color: brown;
    height: 50px;
    align-items:stretch;

}
ul {
    background-color: burlywood;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;  
    align-items: center;
    float:right;
  }
  li{
      padding: 8px;
     
  }
  a{
    text-decoration: none;
  }