*{
    margin: 0%;
   
}
div{
    background-color: brown;
    display: flex;
    justify-content: center;
}
 ul{
     background-color: cornflowerblue;
     display: flex;
 }
 a{
     text-decoration: none;
 }
