*{
    margin: 0%;
   
}
div{
    background-color: brown;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}
 ul{
     background-color: cornflowerblue;
     display: flex;
     list-style-type: none;
     justify-content: center;
     padding: 2px;
 }
 li{
     background-color: cornsilk;
     padding-right: 40px;
     padding-left: 40px;
 }
 a{
     text-decoration: none;
 }
