.subs{
    background-color: crimson;
    height: 500px;
}
section{
    padding: 200px;
}
h1{
    text-align: center;
    font-weight: bolder;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}